.side
	.user
		%h5.my-name
		%a.new-group-btn
		%a.edit-user-info-btn
			%p.chat-group__name
			%p.chat-group__message
	%ul.all-groups

		%li.all-groups__group
			%a.all-groups__group__link
			%p.all-groups__group__name
			%p.all-groups__group__new-message