.side
	.user
		%h1.user__my-name my-name
		%a.user__new-group-btn ◯
		%a.user__edit-user-info-btn △
	.groups
		%ul.groups__list

			%li.groups__list__name
				%p.groups__list__name group__name
				%p.groups__group__new-message new-message