 h1 {
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
  }

h2 {
      margin-bottom: 10px;
      color: #f05050;
      font-size: 14px;
}

h5 {
    float: left;
    line-height: 60px;
    letter-spacing: 2px;
    font-size: 16px;
  }