$dark-blue-1: #253141;
$dark-blue-2: #2f3e51;
$dark-blue-3: #384a62;

$light-blue: #0eb6ef;

$white-1: #ffffff;
$white-2: #fafafa;
$white-3: #f2f2f2;

$gray-1: #bdbdbd;
$gray-2: #a4a4a4;

$flash-danger: #e87878;
$flash-notice: #81daf5;