.groups{
	height: calc(90%);
	background-color:$bar-bule;
	padding:20px 20px 20px;
	&__list{
		&__name{
			h2{
				font-size: 20px;
				padding-bottom:5px;
			}
		}
		p{
			font-size: 11px;
			padding-bottom:40px;
		}
	}
}

.user{
	background-color:$text-bule;
	padding:50px 20px;
	font-size: 20px;
	&__my-name{
		font-weight: bold;
		float:left;
	}
	&__new-group-btn{
		float: right;
	}
	&__edit-user-info-btn{
		float: right;
	}
}
