.user{
	background-color:$gray-1;
	padding:50px 20px;
	font-size: 20px;
	&__my-name{
		font-weight: bold;
		float:left;
	}
	&__new-group-btn{
		float: right;
	}
	&__edit-user-info-btn{
		float: right;
	}
}